.todo-container{
    background:  #056679;
    width: 500px;
    margin: 5em auto;
    border-radius: 10px;
    padding: 15px;
    color: white ;
}
.header{
    font-size: 2em;
    text-align: center;
}
.input-container{
    background:  #056679;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 0 7px 6px #0000003b;
    border: 2px solid #0d5968;
}
.input{
    font-size: 1em;
    color:   #08869e;
    background-color: white ;
    border: 2px solid #0d5968;
    padding: .5em;
    margin: 1em;
    width: 80%;

}
.add-btn{
    border-radius: 5px;
    font-size: 1.25em; 
    border: none;
    cursor: pointer;
    color: white;
    background-color:  #08869e;   
    
}
.list-task{
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: #126c7e;
    box-shadow: 0 7px 6px #0000003b;
    border: 2px solid #0d5968;
    border-radius: 5px;
    padding: 0.3em;
    margin: 0.8em;
}
.delete-btn{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color:  white;
    float: right;
    background-color:  #08869e;

}